/* #root {
  width: 100%;
  background: white;
  height: 100%;
  border-radius: 25px;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  margin: 100px;
  background-color: grey;
}
img {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  background: white;
  height: 100%;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper--question {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-info-wrapper {
  display: flex;
  flex-direction: column;
}
.question-number {
  display: inline-block;
}
.question-status {
  width: 15px;
  height: 15px;
  background-color: aqua;
  border-radius: 50px;
  margin-right: 20px;
}
.question-processing {
  display: inline-block;
}
.qustion-btn {
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  white-space: pre-line;
  background-color: black;
  color: beige;
}

.block--blue {
  color: rgb(83, 199, 248);
}

.block--green {
  color: rgb(149, 246, 149);
}
.block--red {
  color: rgb(252, 109, 109);
}
.block--grey {
  color: rgb(179, 172, 172);
}
.main--question_number {
  font-weight: 700;
  margin-bottom: 20px;
}
.main--question_text {
  margin-bottom: 10px;
}
.item {
  border: 2px solid;
  border-radius: 50px;
  /* margin: 2px; */
  padding: 7px 8px;
  font-weight: 700;
  font-size: 15px;
}
.item:hover {
  background-color: black;
  color: white;
}

.question--item {
  display: flex;
  justify-content: space-around;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
