#root {
}
body {
  border: 3px solid black;
  border-radius: 50px;
  padding: 10px 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 70%;
  margin: 0 auto;
  /* top: 0; */
  /* bottom: 0; */
  position: relative;
  /* top: 100px; */
  /* top: 50%; */
  top: 100px;
  bottom: 100px;
}
img {
  padding: 0;
  margin: 0;
}
.container {
  background: white;
  height: 100%;
  border-radius: 25px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.container:nth-child(1) {
  margin-top: 30px;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper--question {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-info-wrapper {
  display: flex;
  flex-direction: column;
}
.question-number {
  display: inline-block;
}
.question-status {
  width: 15px;
  height: 15px;
  background-color: aqua;
  border-radius: 50px;
  margin-right: 20px;
}
.question-processing {
  display: inline-block;
}
.qustion-btn {
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  white-space: pre-line;
  background-color: black;
  color: beige;
  border-radius: 25px;
  padding: 20px;
}

.block--blue {
  color: rgb(83, 199, 248);
}

.block--green {
  color: rgb(149, 246, 149);
}
.block--red {
  color: rgb(252, 109, 109);
}
.block--grey {
  color: rgb(179, 172, 172);
}
.main--question_number {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
}
.main--question_text {
  margin-bottom: 10px;
  font-size: 22px;
}
.item {
  border: 2px solid;
  border-radius: 50px;
  /* margin: 2px; */
  padding: 7px 8px;
  font-weight: 700;
  font-size: 15px;
}
.item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.item:focus {
  background-color: black;
  color: white;
}

.question--item {
  display: flex;
  justify-content: space-around;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookiesContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}
.cookiesContent > .close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
img {
  width: 40px;
  margin-bottom: 15px;
  margin: 0;
}
p {
  margin-bottom: 40px;
  font-size: 18px;
}
button.accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}
.btn-submit {
  display: flex;
  align-items: center;
  border: none;
  background: none;
}
.modal-body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-result {
  width: 100px;
}
.modal-text {
  font-weight: 700;
  font-size: 15px;
}
